
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Moje kolory

$menu_color: #333333;
$bottom1_text_color: #999999;
$bottom1_bg_color: #fff;
$bottom2_text_color1: #999999;
$bottom2_text_color2: #666666;
$bottom2_bg_color: #fff;
